body {
  margin: auto auto 50px auto;
  background-image:url(wave.png);
  background-color: #5CFFFF;
  font-family: sans-serif;
}

nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #000;
  z-index: 9999;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
  display: table-cell;
  height: 80px;
  vertical-align: middle;
}

nav a {
  color: white;
  padding: 0px 20px;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 150%;
}

section {
  margin-top: 50px;
}

#logo {
  padding-top: 125px;
}

#flotus {
  font-family: 'Kaushan Script', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #33cccc;
  font-size: 1.25em;
}

#about {
  height: 100%;
  background-color: #fff;
  padding: 25px;
  box-shadow: 10px 10px 5px #888888;
}

#services {
  height: 100%;
  background-color: #fff;
  padding: 25px;
  box-shadow: 10px 10px 5px #888888;
}

#services img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80%;
  max-width: 80%;
}

#services h3 {
  text-align: center;
}

#specialties {
  height: 100%;
  background-color: #fff;
  padding: 25px;
  box-shadow: 10px 10px 5px #888888;
}

#contact {
  height: 100%;
  background-color: #fff;
  padding: 25px;
  box-shadow: 10px 10px 5px #888888;
}

#contactform input, textarea {
  width: 100%;
  margin-top: 5px;
}

#contactform .thanks {
  display: none;
  color: #b11a29;
}

#contactform:target .thanks {
  display: inherit;
}
